.AtdtakeLabels
{
    float: left;
    margin-left: 0px;
    margin-top: 10px;
    font-weight: bold;
    width: 100px;
    height: 23px;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';
    padding: 3px;

}

.StuAtdEditAddTextbox
{
    float: left;
    margin-left: 0px;
    margin-top: 5px;   
    width: 330px;
    height: 23px;   
    font-size: small;
    font-family: 'Century Schoolbook';
    padding: 3px;
    border: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;

}