 body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}
 
 
 .Mainpage
{
    margin: 0px;
    width: 1364px;
    background-color: #009900;
    
    
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
    
}
 
 
  
.SecondMenu
{
    height: 40px;
    background-color: #F0FFFF;
    margin-top: 0px;
    width: auto;

    
}



.FooterMenu
{
    height: 25px;
    background-color: #EAEAEA;
    margin-top: 0px;
    width: auto;
    
}


.Copyright
{
    border-style: none;
    float: left;
    margin-top: 5px;
    font-weight: bold;
    width: 100px;
    height: 10px;
    color: #666666;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';
    text-align: center;
    margin-left: -15px;
}



.ThirdMenu
{
    height: 35px;
    background-color: #FFFACD;
    margin-top: 0px;
        width: auto;

    
}


.CountSearchTextBox
{
    border-style: none;
    float: left;
    margin-left: 0px;
    margin-top: 8px;
    font-weight: bold;
    width: 130px;
    height: 23px;
    background-color: #F0FFFF;
    color: #333399;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook'; /* padding: 3px;
    border: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;*/
    text-align: center;
}


.SchoolName
{
    border-style: none;
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    font-weight: bold;
    width: 933px;
    height: 35px;
    background-color: #F0FFFF;
    color: #009900;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Century Schoolbook'; /*padding: 3px;
   border: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;*/
    text-align: center;
    margin-right: 0px;
}




#HeaderMenu
{
    height: 45px;
    background-color: #00CED1;
    margin-top: -9px;
    margin-left: -8px;
    margin-right: -8px;
    
}











.StatusSearchDropDown
{
    float: left;
    margin-left: 0px;
    margin-top: 2px;
    font-weight: bold;
    width: 90px;
    height: 30px;
    background-color: #FFFFFF;
    color: #333333;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';
    padding: 3px;
    border: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.MasterName
{
    float: left;
    margin-left: 0px;
    margin-top: 5px;
    font-weight: bold;
    width: 100px;
    height: 23px;
    background-color: #FFFFFF;
    color: #333399;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';
    padding: 3px;
    border: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: center;
    line-height: -20px;
}

.StudentSearchTextBox
{
    float: left;
    margin-left: 155px;
    margin-top: 2px;
    font-weight: bold;
    width: 294px;
    height: 23px;
    
    background-color: #FFFFFF;
    color: #333333;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';    
    padding:3px;
    border:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    
}






.ClassSearchDropdown
{
    float: left;
    margin-left: 1px;
    margin-top: 2px;
    font-weight: bold;
    width: 82px;
    height: 30px;
    
    background-color: #FFFFFF;
    color: #333333;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';   
    padding:3px;
    border:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.RefreshButton
{
    float: right;
    margin-right: 1px;
    margin-top: 2px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    
    background-color: #FFFFFF;
    color: #333333;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';   
    padding:3px;
    border:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}


.YearSearchDropdown
{
    float: left;
    margin-left: 0px;
    margin-top: 2px;
    font-weight: bold;
    width: 95px;
    height: 30px;
    padding: 3px;
    border: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #FFFFFF;
    color: #333333;
    font-weight: blod;
    font-size: small;
    font-family: 'Century Schoolbook';
}

.ClassSearchDropdown
{
    float: left;
    margin-left: 1px;
    margin-top: 2px;
    font-weight: bold;
    width: 58px;
    height: 30px;
    
    
    background-color: #FFFFFF;
    color: #333333;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';    
    padding:3px;
    border:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}


.SectionSearchDropdown
{
    float: left;
    margin-left: 1px;
    margin-top: 2px;
    font-weight: bold;
    width: 52px;
    height: 30px;
    
    
    background-color: #FFFFFF;
    color: #333333;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';    
    padding:3px;
    border:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.CategorySearchDropdown
{
    float: left;
    margin-left: 1px;
    margin-top: 2px;
    font-weight: bold;
    width: 90px;
    height: 30px;
    
    
    background-color: #FFFFFF;
    color: #333333;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';    
    padding:3px;
    border:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}



body
{
    font-family: Arial;
    font-size: 10pt;
    color: #0000FF;
    background-color: #CCCCCC;
}

.ImageButton1
{
    width: 50px;
    height: 40px;
    float: Right;
    margin-top: 0px;
}

.Logout
{
    width: 50px;
    height: 50px;
    float: Right;
    margin-top: -50px;
}

.Logoimg
{
    width: 100px;
    height: 53px;
    float: left;
    margin-top: -18px;
    margin-left: -16px;
}


.panel
{
    margin-left: -20px;
    margin-right: -20px;
}

        
.Grid
{
    background-color: #F5FFFA;
    color: #333333;
    margin-top: 5px;    
    margin-left: 0px;
    height: auto;
    font-family: 'Times New Roman' , Times, serif;   

  
}

   
    
.Grid td
{
    border-width: thin;
    border-style: groove;
    padding: 8px 0px;
    color: #663300;
}
      

.Grid th
{
    padding: 4px 10px;
    color: #996633;
    background: #363670;
    border-left: solid 1px #525252;
    font-size: 0.9em;
    font-family: Cambria;
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    table-layout: auto;
}


   /* padding: 4px 22px;
    color: #FFFFFF;
    background: #363670;
    border-left: solid 1px #525252;
    font-size: 0.9em;
    font-family: Cambria;
    font-style: normal;
    font-variant: normal;*/
    
    
.grid span
{

color: black;
text-align:justify right;
}


                     


.TableHeaderDiv
{
    background-color: #7B68EE;
    height: 30px;
    padding: 0;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    
}
.TableHeader

{
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';
 width:auto;
 color:white;

border-collapse:collapse;
height:100%;
         
         }
         
  .modal
        {
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            z-index: 99;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            min-height: 100%;
            width: 100%;
        }
     
         
.Labels
{
    float: left;
    margin-left: 0px;
    margin-top: 10px;
    font-weight: bold;
    width: 100px;
    height: 23px;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';
    padding: 3px;

}
  
.StudentEditAddTextbox
{
    float: left;
    margin-left: 0px;
    margin-top: 5px;
   
    width: 330px;
    height: 23px;
   
    font-size: small;
    font-family: 'Century Schoolbook';
    padding: 3px;
    border: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;

}


.SaveButton
{
    float: left;
    margin-left: 150%;
    margin-top: 0px;
    font-weight: bold;
    width: 330px;
    height: 30px;
    font-weight: bold;
    font-size: small;
    font-family: 'Century Schoolbook';
    padding: 3px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-bottom: 2px;
    border-style: groove;
    border-width: 1px;
    border-color: #CCCCCC;
}

.UsersGridViewButton
{
    border: thin solid #B6E427;
    font-family: 'Arial Unicode MS';
    background-color: #C1F984;
    color: #FFFFFF;
    font-style: normal;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}


/*Home.aspx*/






/*.Slides
{
    height: 610px;
    width: 1364px;
    left: 0px;
    top: 0px;
    z-index: -1;
    margin-top: 1px;
}*/




.w3-btn-floating:disabled,.w3-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.w3-btn-floating,.w3-btn-floating-large,.w3-closenav,.w3-opennav{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-btn-floating,.w3-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.w3-btn-floating{width:40px;height:40px;line-height:40px}
.w3-btn-floating-large{width:56px;height:56px;line-height:56px}








