<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="Slide-Timer" value="20000"/>
    <!--Millisecond for Eg:5000/1000=5 Seconds-->
    <add key="FolderPath" value="Files/"/>
  </appSettings>
  <connectionStrings>
    <!--Server-->
    <!--<add name="constr" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=XnappDeploy;User ID=sa;Password=pass@word1" providerName="System.Data.SqlClient"/>-->
    <!-- <add name="S_ConnectionString" connectionString="R/d7SFyP6E8pGDnOEHygB5c0WDpP3Vld5olF9QWdY86fF3YfgghrvsCNgqkFGFHsnw+x90xGBRu/mqhP9zsVToUz5SBJGib/9wQkyNwLjVWrSP/wSOP+aIiIgjdDGlVmkBrDHQNMsIHXxi8gkHenYEM41r3+15eVxAiykBJqqW+M31VAiHOcfEdpUhWp19Bnqxf7oF2nXUJ1hgkv3Msc+ZVbs+9JgarJrMA+hatJuyvozwlCPOgNY3iEt+pNzEJ/" providerName="System.Data.SqlClient"/> -->
    <!--<add name="_ConnectionString" connectionString="R/d7SFyP6E8pGDnOEHygB4W+i0veT13AepHkFztRg76Qimut4wYoaaF/RbDXUC5/YNTO/WAQ40g5y9eQLmdS85JFvVhM086I9InXIecLsj8pnB8VTDgmu4LuUv/Nwi6+j2/xhYDVusX833vp6hKOGVGi4zhhP3dvCg22a5af306NhwwGyL2cQneOBNXZlhQw4q5bKd8ktcC7nfiewlBBXhBYE2xDEDCf3Lq7NxGV7lHJcn88ZjRgd+BgdvZraNLW" providerName="System.Data.SqlClient"/>-->
    <!--Server-->
    <add name="_ConnectionString" connectionString="R/d7SFyP6E8pGDnOEHygB5c0WDpP3Vld5olF9QWdY864zRCzvEl+s9I7dGW0Vg1d4IMy6ALqpMsEvvb739SlB5YEJ4JtogFjQRn6CeepksT3sOuTZL7y1OG82VBc4JGpaCU+rTs3HoJ6aP1CV5G9DXU9QTfHnd4BQ53ZA7P80I23laSHCOw1wvxhU5cAYji+MGzqKJsinen+M3kQWxx/cMBm6Vvr2Dn2BHbeiZoWC44OL1tXTTgOVR1IXr1rVEiQ" providerName="System.Data.SqlClient"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <!--<add name="conString" connectionString="Data Source=VXBLRNBK02;
            database=ExcelImport;Integrated Security=true"/>-->
  </connectionStrings>
  <!--<system.webServer>
  <defaultDocument enabled="false">
    <files>
      <add value="home1.aspx" />
    </files>
  </defaultDocument>
  </system.webServer>-->
  <!--<system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest ="false"/>
    <httpRuntime requestValidationMode = "2.0" />
  </system.web>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="300"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="~/RT.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="15"/>
      <!--<forms  defaultUrl="~/HTS.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="15"></forms>-->
      <!--timeout="1" Minutes-->
      <!--<forms defaultUrl="~/Default.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="10"></forms>-->
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="RT.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects>-->
  <!--<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>