.alert
{
    padding: 20px;
    color: #FFFFFF;
    width: 100%;
    position: fixed;
    margin-top: 250px;
    text-align: center;
    background-color: #008000;
}

.closebtn
{
    border-style: none;
    
    color: black;
    font-weight: bold;
    
    line-height: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}