
table {
    width:100%;
    display: inline-table;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
    
}
th, td
{
    padding: 5px;
    text-align: Center;
    
}
table tr:nth-child(even) {
    background-color: #eee;
    font-family: Century;
}
table tr:nth-child(odd) {
   background-color:#fff;
   font-family: Century;
}

table th
{
    color: #008080;
    font-weight: bold;
    font-family: Century;
}



