
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}
th, td
{
    padding: 5px;
    text-align: left;
    
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
    font-family: Century;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
   font-family: Century;
}

table#t01 th
{
    color: #008080;
    font-weight: bold;
    font-family: Century;
}

.td1
{
    font-family: Century;
    color: #008080;
    
}

